.tvn-gallery-label label{
    color: #444;
    font-weight: bold;
}
.tvn-gallery-label p.desc{
    color: #666;
    font-size: 12px;
}
.tvn-gallery-field{
    display: block;
    position: relative;
    width: 100%;
    min-height: 500px;
    padding: 0;
    border: 1px solid #ccc;
    overflow: hidden;
}
.tvn-gallery-main{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: #fff;
    z-index: 2;
}
.tvn-gallery-input{
    height: 100%;
    padding: 8px;
}
.tvn-gallery-input li{
    float: left;
    position: relative;
    width: 20%;
    text-align: center;
    list-style: none;
}
.tvn-gallery-input li:nth-of-type(5n+1){
    clear: both;
}
.tvn-gallery-input li .item{
    border: 4px solid transparent;
    border-radius: 2px;
}
.tvn-gallery-input li img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.tvn-gallery-input li:hover .item {
    border: 4px solid #1E8CBE;
}
.tvn-gallery-input li .tvn-gallery-remove-item{
    display: none;
    position: absolute;
    top: -3px; right: -10px;
    z-index: 2;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}
.tvn-gallery-input li:hover .tvn-gallery-remove-item{
    display: block;
}
.cta-gallery-toolbar{
    position: absolute;
    right: 0; bottom: 0; left: 0;
    z-index: 80;
    height: 28px;
    padding: 10px;
    border-top: 1px solid #ccc;
}
.tvn-gallery-side{
    position: absolute;
    top: 0; right: -309px; bottom: 0;
    width: 309px;
    border-left: 1px solid #ccc;
    background-color: #f1f1f1;
    -webkit-transition: right 0.3s linear;
    transition: right 0.3s linear;
}
.tvn-gallery-info{
    padding: 15px 10px;
    background-color: #e4e4e4;
}
.tvn-gallery-info img{
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.tvn-gallery-info p{
    color: #666;
    line-height: 1.25;
    margin: 0;
}
.tvn-gallery-info p.info-name{
    font-weight: bold;
}
.tvn-gallery-side-data table input,
.tvn-gallery-side-data table textarea{
    width: 100%;
}
.ui-resizable-handle{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #444;
    cursor: n-resize;
}